.button {
    justify-self: center;
    &__light { 
        cursor: pointer;
        background-color: #8eb8e5;
        color: white;
        width: 300px;
        height: 50px;
        &:hover {
            opacity: 80%;
        }
    }
    &__dark {
        margin: 20px auto;
        font-family: 'Rubik';
        font-weight: 600;
        cursor: pointer;
        background-color: #16181a;
        width: 13rem;
        height: 2.7rem;
        border-radius: 8px;
        color: white;
        font-size: 1.5rem;
        &:hover {
            opacity: 80%;
        }
    }
    &__search {
        cursor: pointer;
        font-size: 1em;
        width: 5em;
        height: 2.2em;
        color: #5fbff9;
        border: 2px solid #5fbff9;
        border-radius: 5px;
        background-color: #37505C;
        margin-right: 20px;
    }
}

